@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

:root{
  --mainBlue:#2a2a72;
  --lightBleu:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;

}

body{
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: 'Indie Flower', cursive;
  letter-spacing: .3rem;
   text-transform: uppercase;
}

.text-bleu{
  color:var(--mainBlue)
}

.text-bright{
  color:var(--lightBleu)
}

#btn{
text-transform: capitalize;
font-size: .7rem!important;
color:var(--mainDark);
border-radius: 0!important;
border:  1px solid black;
padding: .1rem 1rem;
transition: all .7s ease-in-out
}

#btn:hover{
  background-color: black;
  color:white;
}

#btn2{
  text-transform: capitalize;
  font-size: .7rem!important;
  color:var(--mainDark);
  border-radius: 0!important;
  border:  1px solid black;
  padding: .1rem 1rem;
  transition: all .7s ease-in-out
  }
  
  #btn2:hover{
    background-color: black;
    color:white;
  }

  #bt3{
    text-transform: capitalize;
    font-size: .7rem!important;
    color:var(--mainDark);
    border-radius: 0!important;
    border:  1px solid black;
    padding: .1rem 1rem;
    transition: all .7s ease-in-out
    }
    
    #bt3:hover{
      background-color: black;
      color:white;
    }