@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

:root{
  --mainBlue:#2a2a72;
  --lightBleu:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;

}

body{
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: 'Indie Flower', cursive;
  letter-spacing: .3rem;
   text-transform: uppercase;
}

.text-bleu{
  color:var(--mainBlue)
}

.text-bright{
  color:var(--lightBleu)
}